*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: #EADBC8;
}

/* ============MAIN-NAVBAR========== */

.nav-main{
    font-size: 14px;
    display: flex;
    width: 100%;
}

.nav-main img{
    height: 54px;
    cursor: pointer;
}

.nav-main ul{
    position: absolute;
    display: flex;
    margin-top: 18px;
    right: 30px;
    list-style-type: none;
}

.li-main{
    margin-left: 20px;
}

.li-main a{
    text-decoration: none;
    color: #1E3827;
}

.profile{
    border-radius: 50%;
    background-color: #9DBC98;
    padding: 12px 5px 3px 5px;

}

.profile img{
    height: 22px;
}

.home{
    font-weight: bolder;
}

/* ====================================== */

header{
    position: relative;
    display: flex;
    background-color: #395144;
    color: #EADBC8;
    width: 100%;
    height: 350px;
}

.header-left{
    margin: 80px 0 0 160px;
    align-items: center;
}

.header-left h1{
    font-size: 40px;
    font-weight: 560;
}

.header-left p{
    margin-top: 6px;
    font-size: 18px;
}

.header-left button{
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    margin-top: 12px;
    border: 0px;
    width: 100px;
    height: 40px;
    border-radius:4px;
    background-color: #1E3827;
    cursor: pointer;
    transition: 0.2s;
}

.a-header{
    color: #ffffff;
    text-decoration: none;
}

.header-right{
    position: absolute;
    top: 35px;
    right: 160px;
    background-color: #EADBC8;
    padding: 5px 50px;
    border-radius: 10px;
}

.header-right img {
    width: 340px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 50px;
}

main h2{
    margin-bottom: 30px;
    font-size: 34px;
    color: #1E3827;
}

.search{
    position: relative;
    margin-bottom: 40px;
    display: flex;
    /* background-color: aqua; */
    width: 490px;
}

.search img{
    width: 28px;
}

.search input{
    /* position: absolute; */
    left: 0;
    outline: none;
    font-size: 16px;
    border: 1px solid #395144;
    width: 400px;
    height: 40px;
    border-radius: 4px;
    padding: 0 10px;
}

.search button{
    border: 1px solid #1E3827;
    position: absolute;
    right: 25px;
    background-color: #395144;
    color: #EADBC8;
    border: 0px;
    width: 40px;
    height: 40px;
    border-radius:4px;
    transition: 0.2s;
}

.clear-button{
    top: 0;
    right: 0 !important;
}

.search button:hover{
    background-color: #9DBC98;
    color: #1E3827;
    cursor: pointer;
}

.container-main{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    flex-wrap: wrap;
    gap: 100px;
}

.box{
    position: relative;
    text-align: center;
    background-color: #FBF4E6;
    padding: 10px;
    border-radius: 4px;
    /* margin: 0 50px; */
}

.frame{
    background-color: #ffffff;
    padding: 5px;
    border: 1px solid #395144 ;
    border-radius: 4px;
    width: 120px;
    height: 120px;
    margin-bottom: 8px;
    cursor: pointer;
}

.frame img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.title{
    color: #1E3827;
    font-weight: 600;
    font-size: 17px;
    margin-bottom: 8px;
}

.status{
    color: #1E3827;
    font-size: 12px;
    font-style: italic;
}

.selengkapnya{
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    background-color: #395144;
    border: 0px;
    width: 120px;
    height: 44px;
    border-radius:4px;
    transition: 0.2s;
    cursor: pointer;
}

.selengkapnya:hover{
    background-color: #9DBC98;
}

/* ============SIDE-NAVBAR -- Daftar Buku========== */

.nav-side, .container-buku{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.nav-side{
    height: 100vh;
    width: 18%;
    background-color: #395144;
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
}

.nav-side img{
    height: 50px;
    cursor: pointer;
    padding: 8px 2px 5px 3px;
}

.nav-side ul{
    list-style-type: none;
    padding: 0px 20px;
}

.btn-1, .btn-2, .btn-3{
    display: flex;
    align-items: center;
    font-size: 15px;
    cursor: pointer;
    background-color: #395144;
    text-align: start;
    padding: 5px 10px;
    border-radius: 6px;
    margin-bottom: 5px;
    width: 100%;
    border: 0;
    color: #FBF4E6;
    transition: 0.2s;
}

.btn-1:hover, .btn-3:hover{
    background-color: #1E3827;
}

.btn-2{
    background-color: #FBF4E6;
    color: #1E3827;
}

.btn-1 img, .btn-2 img, .btn-3 img{
    width: 18px;
    height: 18px;
    margin-right: 5px;
}

.container-buku{
    position: relative;
    height: 100vh;
    margin-left: 18%;
    flex: 1;
    overflow-y: auto;
    padding: 70px 140px;
    align-items: center;
}

.container-list{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

/* ========profile-user======== */
.container-profile{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    height: 100vh;
    flex: 1;
    overflow-y: auto;
    padding: 70px 600px;
    align-items: center;
}

.container-profile h1{
    margin-bottom: 50px;
}

/* ====================Detail Buku================== */

.back-button{
    background-color: #FBF4E6;
    border: 0px;
    border-radius: 50%;
    height: 38px;
    width: 38px;
    position: absolute;
    left: 50px;
    top: 40px;
    cursor: pointer;
    transition: 0.1s;
}

.back-button:hover{
    background-color: #9DBC98;
}

.back-button img{
    margin-top: 3px;
    height: 27px;
}

.container-detail{
    display: flex;
    /* background-color: aqua; */
    width: 100%;
}

.container-detail h2{
    position: absolute;
    font-size: 30px;
}

.frame-detail{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    width: 440px;
    height: 320px;
    margin-top: 55px;
    border: 3px solid #1E3827;
    border-radius: 5px;
}

.frame-detail img{
    width: 200px;
    margin: 0 120px;
}

.deskripsi-detail{
    margin: 55px 0 0 60px;
    color: #1E3827;
    position: relative;
    width: 230px;
}

.status-button{
    border: 2px solid #1E3827;
    border-radius: 5px;
    width: 100px;
    height: 34px;
    color: #1E3827;
    background-color: #e9e9e9;
    /* margin-bottom: 10px; */
    cursor: not-allowed;
    margin-bottom: 30px;
}

.req-button{
    position: absolute;
    right: 0;
    top: 0;
    border: 2px solid #1E3827;
    border-radius: 5px;
    width: 100px;
    height: 34px;
    color: #1E3827;
    background-color: #9DBC98;
    margin-left: 10px;
    cursor: pointer;
}

.deskripsi-detail a{
    font-size: 14px;
    position: relative;
    left: 20px;
    border: 2px solid #1E3827;
    border-radius: 5px;
    padding: 6px 20px;
    color: #ffffff;
    background-color: #9DBC98;
    margin-bottom: 10px;
    cursor: pointer;
    text-decoration: none;
}

.deskripsi-detail p{
    display: block;
    position: absolute;
    top: 50px;
}

.table-container{
    margin-bottom: 50px;
}


/* ====================SIDE-NAVBAR -- LOGIN================== */

.nav-side a{
    position: absolute;
    bottom: 40px;
    left: 35px;
    text-decoration: none;
    color: #e9e9e9;
}

.btn2-1, .btn2-2, .btn2-3{
    display: flex;
    align-items: center;
    font-size: 15px;
    cursor: pointer;
    background-color: #395144;
    text-align: start;
    padding: 5px 10px;
    border-radius: 6px;
    margin-bottom: 5px;
    width: 100%;
    border: 0;
    color: #FBF4E6;
    transition: 0.2s;
}

.btn2-1:hover, .btn2-2:hover{
    background-color: #1E3827;
}

.btn2-3{
    background-color: #FBF4E6;
    color: #1E3827;
}

.btn2-1 img, .btn2-2 img, .btn2-3 img{
    width: 18px;
    height: 18px;
    margin-right: 5px;
}

.container-buku form{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.form-login label, .dashboard-text label{
    margin-bottom: 10px;
    font-size: 17px;
}

.form-login input{
    margin-bottom: 20px;
    border: 1px solid #395144;
    border-radius: 5px;
    width: 600px;
    height: 40px;
    padding: 0px 10px;
    font-size: 16px;
}

.form-login button{
    margin-top: 10px;
    position: relative;
    left: 255px;
    width: 100px;
    height: 40px;
    border: 0px;
    border-radius: 5px;
    background-color: #1E3827;
    color: #EADBC8;
    font-size: 16px;
    cursor: pointer;
}

.form-login p{
    margin-top: 30px;
    position: relative;
}

/* ====================TAMBAH BUKU================== */

#judul, #deskripsi, #status{
    width: 400px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #1E3827;
    padding: 6px 10px;
}

#status{
    padding: 0px;
    /* width: 422px; */
}

#deskripsi{
    height: 70px;
}

.input-buku{
    position: relative;
}

.input-buku label{
    margin-top: 10px;
    margin-bottom: 10px;
}

.file-input {
    border: 1px dashed #1E3827;
    border-radius: 5px;
    padding: 10px;
    background-color: #f8f9fa;
    color: #9DBC98;
}

.input-buku button{
    background-color: #395144;
    color: #ffffff;
    font-size: 15px;
    border: 0px;
    border-radius: 5px;
    height: 38px;
    width: 100px;
    position: relative;
    top: 20px;
    left: 300px;
}

/* ====================DASHBOARD================== */

.form-dashboard{
    position: relative;
    width: 600px;
}

.dashboard-text{
    display: flex;
    flex-direction: column;
}

.dashboard-text input{
    margin-bottom: 20px;
    border: 1px solid #395144;
    border-radius: 5px;
    width: 400px;
    height: 40px;
    padding: 0px 10px;
    font-size: 16px;
}

.dashboard-ubah button{
    margin-top: 10px;
    position: absolute;
    right: 0;
    top: 20px;
    width: 100px;
    height: 40px;
    border: 0px;
    border-radius: 5px;
    background-color: #1E3827;
    color: #EADBC8;
    font-size: 14px;
    cursor: pointer;
}

.line{
    width: 700px;
    height: 2px;
    background-color: #1E3827;
    margin: 20px 0 20px 0;
}

.dash-button button{
    margin: 20px 12px;
    font-size: 15px;
    width: 130px;
    height: 45px;
    border: 0px;
    border-radius: 5px;
    background-color: #1E3827;
    color: #EADBC8;
    cursor: pointer;
}

/* ========= buku-edit ========== */
.buku-edit-h1{
    margin-bottom: 40px;
}

.btnDelete{
    background: transparent;
    border: 0px;
    position: absolute;
    right: -12px;
    top: -12px;
    cursor: pointer;
}

.btnDelete img{
    height: 28px;
}


/* ========konfirmasi-logout======== */
.container-konfirmasi{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center; /* Rata tengah vertikal */
    height: 100vh;
    align-items: center;
}

.container-konfirmasi a{
    text-decoration: none;
    border-radius: 5px;
    padding: 6px 20px;
}

.a-yes{
    margin-top: 20px;
    border: 1px solid #395144;
    color: #e9e9e9;
    background-color: #395144;
}

.a-no{
    margin-top: 10px;
    border: 1px solid #395144;
    color: #1E3827;
    background-color: #e9e9e9;
}

/* ========= request peminjaman ========== */
.table-container{
    margin-top: 20px;
}

.form-button button{
    height: 20px;
    width: 100px;
    border: 1px solid #395144;
    border-radius: 5px;
    color: #1E3827;
    background-color: #9DBC98;
    cursor: pointer;
}

.form-button-kembali button{
    height: 25px;
    width: 100px;
    border: 1px solid #395144;
    border-radius: 5px;
    color: #1E3827;
    background-color: #9DBC98;
    cursor: pointer;
}

.btn-tolak{
    margin-top: 5px;
    background-color: #e9e9e9 !important;
}